<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JSPIncludeDirective</display-name>
  <listener>
    <listener-class>company.citymanager.helpers.DBManagerSetup</listener-class>
  </listener>
  <context-param>
    <param-name>dbURL</param-name>
    <param-value>jdbc:mysql://localhost/world</param-value>
  </context-param>
  <context-param>
    <param-name>dbuserid</param-name>
    <param-value>jconsul</param-value>
  </context-param>
  <context-param>
    <param-name>dbuserpwd</param-name>
    <param-value>mumbaki12#</param-value>
  </context-param>
  <context-param>
    <param-name>dbinitcat</param-name>
    <param-value>world</param-value>
  </context-param>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <scripting-invalid>false</scripting-invalid>
    </jsp-property-group>
  </jsp-config>
  <error-page>
    <error-code>404</error-code>
    <location>/errorHandler.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errorHandler.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>20</session-timeout>
    <cookie-config>
      <http-only>true</http-only>
      <max-age>23</max-age>
    </cookie-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>