<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CityManagerWeb</display-name>
  <listener>
    <listener-class>company.citymanager.helpers.DBManagerSetup</listener-class>
  </listener>
  <listener>
    <listener-class>company.citymanagerweb.sessionlisteners.ActiveUserTracking</listener-class>
  </listener>
  <listener>
    <listener-class>company.citymanagerweb.sessionlisteners.SessionTrackingAndLogging</listener-class>
  </listener>
  <servlet>
    <servlet-name>servletparameters</servlet-name>
    <servlet-class>company.citymanagerweb.servlets.ServletParameters</servlet-class>
    <init-param>
      <param-name>secretCode</param-name>
      <param-value>111-11-1111</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletparameters</servlet-name>
    <url-pattern>/ServletParameters.do</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>dbURL</param-name>
    <param-value>jdbc:mysql://localhost/world</param-value>
  </context-param>
  <context-param>
    <param-name>initialseed</param-name>
    <param-value>2</param-value>
  </context-param>
  <context-param>
    <param-name>dbURL</param-name>
    <param-value>jdbc:mysql://localhost/world</param-value>
  </context-param>
  <context-param>
    <param-name>dbuserid</param-name>
    <param-value>jconsul</param-value>
  </context-param>
  <context-param>
    <param-name>dbuserpwd</param-name>
    <param-value>mumbaki12#</param-value>
  </context-param>
  <context-param>
    <param-name>dbinitcat</param-name>
    <param-value>world</param-value>
  </context-param>
  <session-config>
    <session-timeout>20</session-timeout>
    <cookie-config>
      <http-only>true</http-only>
      <max-age>23</max-age>
    </cookie-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>